body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.button_1{
    height: 37px;
    background: #e8491d;
    border: none;
    color: #ffffff;
    padding: 0 20px 0 20px;
}

.dark{
    background-color: #35424a;
    padding: 15px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header {
    background-color: #35424a;
    color: #ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px; 
}

header li{
    list-style: none;
    float: left;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;  
}

header a:hover{
    color: #e8491d;;
}

/* showcase */

#showcase{
    min-height: 400px;
    background: url(../img/bglaptop.jpg) no-repeat 0 -320px;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size:55px;
}

#showcase p{
 font-size: 20px;
}

/* Newsletter */

#newsletter{
    color: #ffffff;
    background-color: #35424a;
    padding: 15px;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type='email']{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

/* Sidebar */

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .reach-at input, aside#sidebar .reach-at textarea{
    width: 90%;
    padding: 5px;
}

/* Main-col */

article#main-col{
    float: left;
    width: 65%;
}

/* Services*/

ul#services li{
   list-style: none;
   padding: 20px;
   border: #cccccc solid 1 px;
   margin-bottom: 5px;
   background: #e6e6e6;

}

footer{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #ffffff; 
    background-color: #e8491d;
}

@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter form,
    #newsletter h1,
    #boxes .box,
    aside#sidebar,
    article#main-col{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    } 

    #newsletter button, .button_1{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .reach-at input, .reach-at textarea{
        width:100%;
        margin-bottom: 5px;
    }

}
